* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #255EE9;
  padding: 10px 0;
}

footer {
  padding-top: 15px;
}

.bottom-footer .container {
  min-height: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

li {
  font-size: medium;
  color: #fff;
}

h1 {
  margin: 50px;
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}


button:hover {
  cursor: pointer;
}

.col-40 span {
  font-size: 1.2em;
}


.sm-container>.pyb-20>button {
  margin: 30px 10px;
}


.top-footer {}

.bottom-footer {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}


/*********Tools**********/
.container {
  max-width: 1000px;
  margin: 0 auto;

}

.d-flex {
  display: flex;
}

.highlithed {
  color: #7088D3;
}

.box {
  align-items: center;
  justify-content: space-between;

}

.sm-container {
  max-width: 800px;
  min-height: 400px;
  margin: 0px auto;
  text-align: center;

}

.big-container {
  max-width: 1000px;
  min-height: 800px;
  margin: 0 auto;
  text-align: center;
}

.box-height {
  min-height: 400px;
}

.gap-15 {
  column-gap: 15%;
}

.margin {
  margin: 25px auto;
}

.m-0 {
  margin: 0;
}

.f-sizem {
  font-size: medium;
}

.btm-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/*****Padding*******/
.pxy-5 {
  padding: 5px 5px;
}

.pxy-10 {
  padding: 10px 10px;
}

.pyt-8 {
  padding-top: 8px;
}

.pyb-20 {
  padding-bottom: 20px;
}

.py-30 {
  padding: 30px 0px;
}


/******Border settings*******/
.border {
  border: none;
}

.bd-black {
  border-color: black;
}

.bd-white {
  border-color: #fff;
}

.border-radius {

  border-radius: 25px;

}

/******Colums size********/
.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

/******Text tools*******/
.t-center {
  text-align: center;
}

.t-end {
  text-align: end;
}

.t-white {
  color: #fff;
}

/*****Background colors*****/

.bg-jumbo {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 150px;
}

.jumbo-text {
  font-size: 1.3em;
  padding-bottom: 150px;
}

.bg-pink {
  background-color: #EF82ED;
}

.bg-lightblue {
  background-color: #8EA1E2;
}

.bg-lightpink {
  background-color: #FFC0CA;
}

.bg-wave {
  background-image: url(../img/wave.svg);
}

.bg-lightgray {
  background-color: #F6F6F6;
}


.bg-green {
  background-color: #218B21;
}

.bg-darkgray {
  background-color: #23272A;
}

.bg-salmon {
  background-color: #F08180;
}

.bg-aqua {
  background-color: #20B3AA;
}

.bg-lightgreen {
  background-color: #7FFFD4;
}

.bg-white {
  background-color: #fff;
}

.bg-star {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px 20px;
}

.flag {
  width: 25px;
  margin-right: 5px;
}

.fa-brands {
  margin: 15px 10px;
  color: #fff;
}

.flex-d {
  flex-direction: column;
}